// colors
$color_primary: #1F4932;
$color_secondary: #E7B730;
$color_black: #000000;
$color_white: #ffffff;
$color_light: #FFF5E3;

// fonts
$font_primary:'Manrope', sans-serif;
$font_secondary:'Blacker Display', sans-serif;





 


